* {
    margin: 0;
    padding: 0;
}

.row {
    background-color: red;
    overflow: hidden;
}

.col {
    width: 50%;
    height: 200px;
    background-color: blue;
    float: left;
}

.col:nth-last-child(1) {
    border: 1px solid red;
    box-sizing: border-box;
    background-color: yellow;
}