*
    margin 0
    padding 0
    box-sizing border-box
    
ul,li
    list-style none

.accordion
    display flex
    width 600px
    height 200px
    li
        flex 1
        cursor pointer
        line-height 200px
        text-align center
        color white
        transition flex 0.5s
        &:nth-child(1)
            background #f66
        &:nth-child(2)
            background #66f
        &:nth-child(3)
            background #f90
        &:nth-child(4)
            background #09f
        &:nth-child(5)
            background #9c3
        &:nth-child(6)
            background #c93
        &:hover
            flex 2
